.x{
    width:80%;
    margin:auto auto;
    height:100vh;
    border:2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:
    radial-gradient(ellipse at 20% 20%, #35234b 0%, transparent 70%),
    radial-gradient(ellipse at 60% 20%, #2975bf 0%, transparent 70%),
    radial-gradient(ellipse at 100% 20%, #3d54b1 0%, transparent 70%),
    radial-gradient(ellipse at 100% 100%, #9f3c54 0%, transparent 70%),
    radial-gradient(ellipse at 20% 100%, #362d6f 0%, transparent 70%);
  background-blend-mode:screen;
}
.x h1{
    color:rgb(239, 16, 150);
    font-size: 40px;
}
.x button{
    margin:20px 0;
}
button{
    color:cornflowerblue;
    border-color: cornflowerblue;
    height:50px;
    width:100px;
    font-size: 15px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 2px 3px blue;
    
}
button:hover{
    color:white;
    background-color: cornflowerblue;
    transition: 2s;
    transition-delay: .1s;
    cursor:pointer;
}
.quotearea{
    font-size: 20px;
    width: 80%; 
    padding:20px;
    height: auto; 
    align-items: center; 
    display: flex; 
    justify-content: center;
    border:none;
    box-shadow: 0px 2px 3px rgb(5, 101, 211);
    background-color: rgb(50, 46, 46);
    color:aliceblue
}